$color-white: #fff;
$color-black: #000;

$background-primary: #0f021b;
$background-secondary: #180828;
$background-container: #2c1746;

$font-color-primary: #8a87aa;
$font-color-third: #d7d5eb;

$border-color-primary: #694a81;
$border-color-secondary: #fd58ff;

$password-force: (
    'failed': #e71b32,
    'warning': #faf408,
    'strong': #00ff85,
);
