@use '../abstracts/index' as *;

.card_password {
    background-color: $background-container;
    height: 11rem;
    border-radius: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4rem;
    margin-top: 5.8rem;

    border-bottom: 0.4rem solid $border-color-secondary;

    .password {
        display: flex;
        align-items: center;
        gap: 2rem;

        span:nth-child(1) {
            font-size: 2rem;
            color: $font-color-primary;
        }

        span:nth-child(2) {
            font-size: 4rem;
            font-family: $roboto-mono;
        }
    }

    .icons {
        display: flex;
        gap: 3rem;

        button {
            img {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }
}

@include media(xs) {
    .card_password {
        height: 18rem;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        .password {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            span:nth-child(2) {
                width: 100%;
                font-size: 2rem;
                word-wrap: break-word;
            }
        }

        .icons {
            button {
                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }
    }
}

@include media(sm, md) {
    .card_password {
        display: flex;
        gap: 1rem;
        .password {
            span:nth-child(2) {
                font-size: 2rem;
            }
        }

        .icons {
            display: flex;
            gap: 2rem;

            button {
                img {
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }
        }
    }
}

@include media(lg) {
    .card_password {
        display: flex;
        gap: 1rem;
        .password {
            span:nth-child(2) {
                font-size: 3rem;
            }
        }
    }
}
