@use '../abstracts/index' as *;

.card_password {
  background-color: $background-container;

  padding: 2rem;
  border-bottom: 0.4rem solid $border-color-secondary;
  border-radius: 0.2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  .password {
    width: 100%;

    span:nth-child(1) {
      color: $font-color-primary;
      line-height: 2.5rem;
      font-size: 2rem;
      margin-right: 1rem;
    }

    span:nth-child(2) {
      width: 100%;
      font-family: $roboto-mono;
      font-size: 2rem;
      word-wrap: break-word;
      cursor: pointer;
    }
  }

  .icons {
    display: flex;
    gap: 3rem;

    button {
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

@include media(sm, md, lg, xl) {
  .card_password {
    display: flex;
    flex-direction: row;
  }
}

@include media(md) {
  .card_password {
    .password {
      span:nth-child(2) {
        font-size: 3rem;
      }
    }

    .icons {
      display: flex;
      gap: 3rem;

      button {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}

@include media(lg, xl) {
  .card_password {
    padding: 3rem 4rem;

    .password {
      span:nth-child(2) {
        font-size: 3rem;
      }
    }

    .icons {
      display: flex;
      gap: 3rem;

      button {
        img {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }
  }
}

@include media(xl) {
  .card_password {
    .password {
      span:nth-child(2) {
        font-size: 4rem;
      }
    }
  }
}
