@use '../abstracts/index' as *;

.container {
  width: 100%;
  max-width: 140rem;
  height: 100vh;
  margin: 0 auto;
  padding: 6rem 3rem;
  transition: padding 0.3s ease-in-out;
}

@include media(md) {
  .container {
    padding: 8rem 6rem;
  }
}

@include media(lg, xl) {
  .container {
    padding: 8rem 18rem;
  }
}
