@use '../abstracts/index' as *;

.custom_password {
  width: 100%;
  background-color: $background-secondary;
  padding: 2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid $border-color-primary;

  & > p {
    font-family: $roboto-mono;
    color: $font-color-third;
    font-size: 1.8rem;
  }

  .settings_password {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .range,
    .characters,
    .force {
      p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        color: $font-color-primary;
      }
    }

    .range {
      display: flex;
      flex-direction: column;

      span {
        width: 6rem;
        height: 5rem;

        background-color: $background-container;
        border: 0.1rem solid $border-color-primary;
        color: $font-color-primary;
        border-radius: 0.2rem;

        font-size: 2rem;
        padding: 1.2rem 1.3rem;
        margin: 2.4rem;
      }
    }

    .force {
      .force_box {
        width: 100%;
        height: 3.2rem;
        background-color: $background-container;
        background: linear-gradient(
          to right,
          red 0%,
          red 30%,
          $background-container 30%,
          $background-container 100%
        );
        margin-bottom: 1rem;
        // background: linear-gradient(
        //     to right,
        //     red 0%,
        //     red 33.33%,
        //     yellow 33.33%,
        //     yellow 66.66%,
        //     green 66.66%,
        //     green 100%
        // );
      }

      .force_description {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 1.5rem;
          color: $font-color-primary;
        }
      }
    }
  }
}

@include media(sm) {
  .custom_password {
    & > p {
      font-size: 2.2rem;
    }

    .settings_password {
      .range,
      .characters,
      .force {
        p {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@include media(md, lg, xl) {
  .custom_password {
    padding: 3rem 4rem;

    & > p {
      font-size: 2.8rem;
    }

    .settings_password {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 3rem;

      .range,
      .characters,
      .force {
        p {
          font-size: 2.4rem;
        }
      }

      .range {
        span {
          width: 8.6rem;
          height: 5.5rem;
        }
      }
    }
  }
}
