@use '../abstracts/index' as *;

.custom_password {
  width: 100%;
  background-color: $background-secondary;
  padding: 2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid $border-color-primary;

  & > p {
    font-family: $roboto-mono;
    color: $font-color-third;
    font-size: 1.8rem;
  }

  .settings_password {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .range,
    .characters,
    .force {
      p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        color: $font-color-primary;
      }
    }

    .range {
      display: flex;
      flex-direction: column;

      span {
        width: 6rem;
        height: 5rem;

        background-color: $background-container;
        border: 0.1rem solid $border-color-primary;
        color: $font-color-primary;
        border-radius: 0.2rem;

        font-size: 2rem;
        padding: 1.2rem 1.3rem;
        margin: 2.4rem;
      }
    }

    .force {
      .force_box {
        position: relative;

        &::before {
          content: '';
          display: block;

          width: 100%;
          height: 3.2rem;

          background-color: $background-container;
          margin-bottom: 1rem;

          opacity: 0.3;
          border-radius: 0.2rem;
          position: absolute;
        }

        &::after {
          content: '';
          display: block;

          width: 0%;
          height: 3.2rem;

          margin-bottom: 1rem;
          border-radius: 0.2rem;
        }

        &.low::after {
          width: 33%;
          background-color: map-get($password-force, "failed");
        }

        &.medium::after {
          width: 66%;
          background-color: map-get($password-force, "warning");
        }

        &.strong::after {
          width: 100%;
          background-color: map-get($password-force, "strong");
        }
      }

    
      .force_description {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 1.5rem;
          color: $font-color-primary;
        }
      }
    }
  }
}

@include media(sm) {
  .custom_password {
    & > p {
      font-size: 2.2rem;
    }

    .settings_password {
      .range,
      .characters,
      .force {
        p {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@include media(md, lg, xl) {
  .custom_password {
    padding: 3rem 4rem;

    & > p {
      font-size: 2.8rem;
    }

    .settings_password {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 3rem;

      .range,
      .characters,
      .force {
        p {
          font-size: 2.4rem;
        }
      }

      .range {
        span {
          width: 8.6rem;
          height: 5.5rem;
        }
      }
    }
  }
}
