@use '../abstracts/index' as *;

.range {
  input[type='range'] {
    background: $background-container;
    height: 20px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25px;

    &::-webkit-slider-thumb {
      cursor: pointer;
      appearance: none;
      height: 35px;
      width: 35px;
      background-color: $color-white;
      border-radius: 50%;
    }

    &::-moz-slider-thumb {
      cursor: pointer;
      appearance: none;
      height: 35px;
      width: 35px;
      background-color: $color-white;
      border-radius: 50%;
    }
  }
}
