@use '../abstracts/index' as *;

html {
  background-color: $background-primary;
  font-family: $roboto;
  color: $color-white;
}

button {
  cursor: pointer;
}

button:has(img) {
  background: transparent;
  border: none;
}
